<div class="footer">
  <div class="content-wrap">
    <div class="left">
      <img src="../assets/img/logo_w.png" alt="logo" />
      <div class="list-wrap">
        <ul>
          <li><a href="{% link accueil.html %}">Home</a></li>
          <li><a href="{% link accueil.html %}">News</a></li>
          <li><a href="{% link accueil.html %}">Contact</a></li>
          <li><a href="{% link accueil.html %}">Listing</a></li>
          <li><a href="{% link accueil.html %}">Property</a></li>
          <li><a href="{% link accueil.html %}">Land</a></li>
          <li><a href="{% link accueil.html %}">Rental</a></li>
          <li><a href="{% link accueil.html %}">Rural</a></li>
          <li><a href="{% link accueil.html %}">Commercial</a></li>
        </ul>
      </div>
      <div class="text">
        Copyright 2020 <span style="color: rgb(252, 68, 68);">Dunk</span> © All rights reserved
      </div>
    </div>
    <div class="center">
      <div class="content">
        <i class="fas fa-home"></i>
        <div class="footer-text">
          2067 – 2069 Robinson Lane, Columbus, OH 43201, US
        </div>
      </div>
      <div class="content">
        <i class="fas fa-phone-alt"></i>
        <div class="footer-text">
            01 64 97 50 43
        </div>
      </div>
      <div class="content">
        <i class="far fa-envelope"></i>
        <div class="footer-text">
            contact@bhgroupe.fr
        </div>
      </div>
      <div class="content">
        <i class="fal fa-calendar-alt"></i>
        <div class="footer-text">
            Mon-Sat: 9:00 AM – 16:00 PM
        </div>
      </div>
    </div>
    <div class="right">
      <div class="footer-sub">Subscribe To Our Newsletter</div>
      <form class="form">
        <div class="form-wrap">
          <input type="text" id="message" name="message" placeholder="Email"/>
          <button class="btn">SUSCRIBE</button>
        </form>
      </div>
      <div class="icon-wrap">
        <i class="fab fa-linkedin-in"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
      </div>
    </div>
  </div>
</div>
